.arrow {
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  
  @keyframes bounceAlpha {
    0% { opacity: 1; transform: translateX(0px) scale(1); }
    25% { opacity: 0; transform: translateX(10px) scale(0.9); }
    26% { opacity: 0; transform: translateX(-10px) scale(0.9); }
    55% { opacity: 1; transform: translateX(0px) scale(1); }
  }
  .round:hover .arrow {
    animation-name: bounceAlpha;
  }
  @keyframes reverseBounceAlpha {
    0% { opacity: 1; transform: translateX(0px) scale(1); }
    25% { opacity: 0; transform: translateX(-10px) scale(0.9); }
    26% { opacity: 0; transform: translateX(10px) scale(0.9); }
    100% { opacity: 1; transform: translateX(0px) scale(1); }
  }
  .round:not(:hover) .arrow {
    animation: reverseBounceAlpha 0.5s linear; /* Apply reverse animation when not hovered */
  }


  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=EB+Garamond&family=Plus+Jakarta+Sans:wght@200;300&family=Poppins:wght@100;200&family=Work+Sans:ital,wght@0,100;1,100&display=swap');
*{
  font-family: 'DM Sans', sans-serif;

}

.dev{
  color: #212529bf;
}
